<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.keep">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!-- Barcode(二维码)  end -->
    <application
        android:allowClearUserData="true"
        android:largeHeap="true"
        android:supportsRtl="true">
        <service android:name="com.example.keep.service.ForegroundService"  android:exported="true" android:enabled="true">
        </service>
        <service android:name="com.example.keep.service.KeepAliveJobService" android:permission="android.permission.BIND_JOB_SERVICE"  android:exported="true" android:enabled="true">
        </service>
        <!-- 应用入口 -->
        <receiver android:name="com.example.keep.receiver.OnePxReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.SCREEN_ON" />
            </intent-filter>
        </receiver>
        <activity
            android:name="com.example.keep.activity.OnePxActivity"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="dcloud_appkey"
            android:value="1757bc3e2d5fa5236395db435f6f998c" />
    </application>

</manifest>